/* CSS FILE */
body {
    background-color: #6abada;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
}

div {
    text-align:center;
}

p {
    text-align: center;
}

/* Styl první divize */
.first {
    text-align: center;
}

/* Styl diskografie */
.songs.outer {
    background-color:  #6abada;
    padding: 20px
}
.songs.inner {
    background-color: #ffd16d;
    text-align: start;
    padding: 10px
}

