/* CSS FILE */
body {
    background-color: #6abada;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

/* Styl diskografie */
.songs {
    background-color: #ffd16d;
    padding: 20px;
    text-align: start;
}

/* Styl první divize */
.first {
    text-align: center;
}
